body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/tulip.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

input::placeholder {
  color: #8A8D91;
}

#signupForm {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  background-color: white;
  font-size: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(255, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.signup {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #333;
}

label {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #30C2A7;
  margin-left: 5px;
}

input {
  width: 100%;
  padding: 20px 15px;
  font-size: 17px;
  background-color: white;
  border: 2px solid #CED0D4;
  border-radius: 15px;
  outline: none;
  box-sizing: border-box;
}

input:focus {
  border: 3px solid #1877F2;
}

button {
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  padding: 15px;
  color: white;
  background-color: #1877F2;
  border: 2px solid #6500FF;
  border-radius: 27px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(2px);
  box-shadow: 0 3px 25px rgba(255, 0, 0, 0.7);
}

@media (max-width: 500px) {
  #signupForm {
    padding: 25px;
    max-width: 95%;
    border-radius: 15px;
  }
  
  .signup {
    font-size: 35px;
  }
  
  input {
    padding: 15px 12px;
    font-size: 16px;
  }
  
  button {
    font-size: 20px;
    padding: 12px;
  }
}