body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

.music-player {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    margin-top: 20px;
}

.song-info h3 {
    margin-bottom: 5px;
}

.controls button {
    font-size: 22px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #1877F2;
    color: white;
}

.gallery-container {
    margin-top: 30px;
}

.gallery-container img {
    width: 90%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(255,0,0,0.4);
}

#gallery-message {
    font-size: 20px;
    margin: 15px 0;
}

.gallery-buttons button {
    background: #1877F2;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin: 5px;
}