
body {
    background: url("images/spank.gif") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.music-player {
    padding: 25px;
    border-radius: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

.song-info h3 {
    margin-bottom: 10px;
}

.title-container {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.scroll-title {
    display: inline-block;
    animation: scroll-left 6s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-140%);
    }
}

.controls button {
    font-size: 22px;
    padding: 10px 22px;
    margin: 5px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.controls button:active {
    font-size: 16px;
    padding: 9px 23px;
    opacity: 0.85;;
}

.gallery-container {
    margin: 40px auto;
    width: 90%;
    max-width: 600px;
}

.gallery-container img {
    width: 100%;
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(255,0,0,0.4);
}

#gallery-message {
    color: #000;
    font-size: 200px;
    margin: 15px 0;
}

.gallery-buttons button {
    background: #1877F2;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.gallery-buttons button:active {
    font-size: 16px;
    padding: 9px 23px;
    opacity: 0.85;
}

#progress {
    width: 50%;
    margin: 15px 0;
}