body{
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.login-form{
  max-width: 299%;
  width: 50%;
  padding: 100px;
  background-color: white;
  font-size: 25px;
  border-radius: 5%;
  box-shadow: 0 10px 25px red;
}

.form-heading{
  text-align: center;
}
