body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

input::placeholder {
  color: #8A8D91;
}

#login-form{
  max-width: 300%;
  width: 50%;
  padding: 40px;
  background-color: white;
  font-size: 25px;
  border-radius: 5%;
  box-shadow: 0 10px 25px red;
}

.form-heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.input-group{
  position: relative;
  margin-bottom: 20px;
}

.input-group .label{
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 5px;
  color: #30C2A7;
}

.input-group input{
  width: 400px;
  padding: 20px 30px;
  font-size: 17px;
  background-color: white;
  border: 2px solid #CED0D4;
  border-radius: 15px;
  outline: none;
}

.input-group input:focus{
  border: 3px solid #1877F2;
}

.forgot-password{
  text-align: right;
  margin: 18px;
  font-size: 19px;
}

.forgot-password a{
  text-decoration: none;
  color: blue;
}

.forgot-password a:hover{
  color: blue;
  opacity: 30%;
}

.submit {
  font-size: 25px;
  font-weight: 700;
  width: 460px;
  padding: 15px;
  color: white;
  background-color: #1877F2;
  border: 2px solid #6500FF;
  border-radius: 27px;
}

.submit:hover{
  transform: translateY(2px);
  box-shadow: 0 3px 25px #FF0000;
}

.sign-up{
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
