body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

form {
  width: 250px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}
